[Unit]
Description=TCDS Core
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=tcds
Group=tcds
ExecStart=/opt/tcds/core/tcds_core.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
